/* Element specific css*/
html, body, .content { height: 100%; width: 100%; margin: 0; }

body {
  background-color: #040b10;

}

footer {
  background-color: #040b10;
  height: 50px;
}

/* To move the footer to the bottom of the page*/

.footerContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* Css for other links on the site*/

.link {
  font-size: 40px;
}

/* This is the css for the navbar and its links */

.navbar {
  height: 65px;
  position: absolute;
  top:10px;
  left: 0px;
  padding-top: 15px;
  margin-left: 30px;
  background-color: #040b10;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.navbarText {
  font-family:'IBM Plex Sans';
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  margin-top: -37px;
  margin-left: 65px;
  color: #9ba8b1;
}

/* This one ignores margin*/
#homeLink, .link {
  color: #9ba8b1;
  text-decoration: none;
}

/* This is for the first link so it is separatly spaced*/
.navbarLinkPrime {
  margin-left: 50px;
  text-decoration: none;
  color: #9ba8b1;
}

.navbarLink {
  color: #9ba8b1;
  margin-left: 20px;
  text-decoration: none;
}

/* Changes the color when the links are hovered over*/
.navbarLink:hover, .navbarLinkPrime:hover, #homeLink:hover, .link:hover, #navMenuItems li a:hover {
  color:#9cc7e4;
}

#navImg {
  height: 50px;
  width: auto;
  position: absolute;
  visibility: visible;
}

/* This is for the background. I recorded the gif so there shouldn't be problems there.*/
#backdropContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: 100% 100%;
  background-image: url("backdrop.gif");
  opacity: 0.1;
  z-index: -1;
}

/* For the img on the homepage*/
#headerImg {
  height: 380px;
  width: auto;
  max-width: 80%;
  max-height: auto;

  margin-left: 50px;
  margin-right: 50px;
}

/* This is for the header of the page */
.headerText {
  font-family: 'IBM Plex Sans';
  font-size: 60px;
  color: #9ba8b1;

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  padding-left: 50px;
}
/* For the generic text*/
.text {
  font-family: 'IBM Plex Sans';
  font-size: 25px;
  color:#9ba8b1;

  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  padding-left: 50px;
}

/* Like the body tag, however it ignores the navbar and footer*/
.content {
  margin-top: 110px;
  text-align: center;
}


.sepLine {
  width: 700px;
  max-width: 80%;
}

/* For disabling elements of the page*/
.disable {
  visibility: hidden;
}

.enable {
  visibility: visible;
}
/* For when the navbar is diabled */

#dropDownMenu {
  position:absolute;
  background-color: transparent;
  border-style: none;
  margin-top: 5px;
  visibility: hidden;

}

#dropDownMenuIcon {
  width: 40px;
  height: auto;
  background-color: transparent;
}

#navMenuBackground {
  background: #0d2c42;
  top: 120px;
  width: 90%;
  height: 220px;
  border-radius: 25px;
  position: absolute;
}

#navMenuItems {
  list-style: none;
}

#navMenuItems li {
  margin-bottom: 25px;
}

#navMenuItems li a {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  color: #9ba8b1;
}

.disable {
  visibility: hidden;
}

.enable {
  visibility: visible;
}

@media (max-width: 910px) {
  #navImg {
    margin-left: 70px;
  }
  .navbar {
    visibility: hidden;
  }
  #dropDownMenu {
    visibility: visible;
  }
}
